<app-header [title]="'Bienvenido'"></app-header>

<ion-content [fullscreen]="true">
  <section class="fastAccessUsersList centerHorizontal">
    <ion-button class="secondaryInput" (click)="this.changeFastAccessUserSelected(0)">Admin</ion-button>
    <ion-button class="primaryInput" (click)="this.changeFastAccessUserSelected(1)">Invitado</ion-button>
    <ion-button class="secondaryInput" (click)="this.changeFastAccessUserSelected(2)">Usuario</ion-button>
    <ion-button class="primaryInput" (click)="this.changeFastAccessUserSelected(3)">Anonimo</ion-button>
    <ion-button class="primaryInput" (click)="this.changeFastAccessUserSelected(4)">Tester</ion-button>
  </section>



    <section class="centerHorizontal">
      <section class="iconContainer">
        <img class="imgIcon" src="../../../../assets/SplashScreen/MyCredit_NoBack.png">
      </section>
    </section>
    <!--     <h1>Mi credito</h1> 
    (submitDataEventEmitter)="this.receiveAccessData($event)"-->

    <div class="logForm">
      <app-access-data-form (submitDataEventEmitter)="this.receiveAccessData($event)"
      [fastUser]="this.fastAccessUserSelected"></app-access-data-form>
    </div>
</ion-content>