<ion-content>
  <section class="splashScreen" [style]="this.splashScreenStyle" [ngClass]="this.splashScreenClass">
    <section class="iconContainer">
      <img src="../../../../../assets/SplashScreen/MyCredit_NoBack.png">
    </section>
  

      <div>
        <h1 class="myName tracking-in-contract-bck-top">Thiago Porfirio</h1>
        <h1 class="myDivision tracking-in-contract-bck-bottom">4to A</h1>
      </div>
  </section>
</ion-content>

<!--[ngClass]="this.myNameH1class" 
[ngClass]="this.myDivisionH1class"-->