<app-header></app-header>

<ion-content>
  <div class="screen">
    <div class="action">
      <div class="creditCounter primaryInput">
        <h2 class="">Crédito</h2>
        <h1 class="ionBottomTag">{{this.authService.myUser.credit}}</h1>
      </div>
    </div>


    <section class="iconContainer">
      <img (click)="this.analyzeQR()" class="imgIcon" src="../../../../assets/SplashScreen/MyCredit_NoBack.png">
    </section>
  </div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="this.deleteCredit()">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
