<app-header></app-header>

<ion-content>
  <div class="screen">
    <div class="action">
      <div class="creditCounter primaryInput">
        <h2 class="ionTopTag">Crédito</h2>
        <h1 class="betweenTag">$160</h1>
      </div>
  
      <ion-button class="secondaryInput ionBottomTag">
        Cargar crédito
      </ion-button>
    </div>


    <section class="iconContainer">
      <img class="imgIcon" src="../../../../assets/SplashScreen/MyCredit_NoBack.png">
    </section>
  </div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="this.deleteCredit()">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
